body {
  background-color: #1c2d3c;
  color: white;
}

.navbar {
  background-color: #06141f;
}

ul li {
  list-style-type: none;
}

.disk_content {
  height: 100%;
  background-color: #112030;
}

.disk_content img {
  max-height: 300px;
}
